.circle-default {
  background: #ffffff;
  border-radius: 50%;
  border: 3px solid #0596cb;
  position: absolute;
  content: '';
}
.icons {
  display: block;
}
.icons .image {
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.icon-basic {
  width: 120px;
  height: 120px;
  position: relative;
}
.icon-basic .image:before {
  position: absolute;
  content: '';
  width: 52px;
  height: 30px;
  top: 0;
  left: 50%;
  margin-left: -21px;
  background: url('../img/icons_basic1.png') no-repeat 0 0;
}
.icon-basic .image:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 45px;
  top: 20px;
  left: 50%;
  margin-left: 5px;
  background: url('../img/icons_basic2.png') no-repeat 0 0;
}
.icon-basic .circles:before {
  position: absolute;
  content: '';
  width: 52px;
  height: 30px;
  top: 40px;
  left: 0px;
  background: url('../img/icons_basic1.png') no-repeat 0 0;
}
.icon-basic .circles:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 45px;
  top: 60px;
  left: 25px;
  background: url('../img/icons_basic2.png') no-repeat 0 0;
}
.icon-basic .linear:before {
  position: absolute;
  content: '';
  width: 52px;
  height: 30px;
  top: 60px;
  left: 50%;
  margin-left: 5px;
  background: url('../img/icons_basic1.png') no-repeat 0 0;
}
.icon-basic .linear:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 45px;
  top: 80px;
  right: 0;
  background: url('../img/icons_basic2.png') no-repeat 0 0;
}
.icon-js {
  margin: 0 0 25px 56px !important;
}
.icon-js .image {
  width: 120px;
  height: 172px;
  background-image: url('../img/icons_js.png');
}
.icon-js .image:before {
  position: absolute;
  content: '';
  background: url('../img/icons_javascript.png');
  width: 44px;
  height: 51px;
  top: 54px;
  left: 54px;
}
.icon-js .linear {
  position: relative;
}
.icon-js .linear:before {
  position: absolute;
  content: '';
  width: 70px;
  height: 4px;
  background: url('../img/icon-linear-y.png') no-repeat 0 0;
  top: -80px;
  left: -15px;
}
.icon-js .linear:after {
  position: absolute;
  content: '';
  width: 44px;
  height: 4px;
  background: url('../img/icon-linear-b.png') no-repeat 0 0;
  top: -95px;
  left: -30px;
}
.icon-android {
  position: relative;
}
.icon-android .image {
  width: 100%;
  height: 160px;
  background-image: url('../img/icons_android.png');
}
.icon-android .image:before {
  position: absolute;
  content: '';
  background: url('../img/icons_android-head.png');
  width: 54px;
  height: 26px;
  top: 48px;
  left: 50%;
  margin-left: -7px;
}
.icon-android .circles:before {
  position: absolute;
  content: '';
  width: 46px;
  height: 9px;
  top: 40px;
  right: 25px;
  background: url('../img/icons_android-1.png') no-repeat 0 0;
}
.icon-android .circles:after {
  position: absolute;
  content: '';
  width: 48px;
  height: 18px;
  top: 75px;
  right: -3px;
  background: url('../img/icons_android-2.png') no-repeat 0 0;
}
.icon-android .linear:before {
  position: absolute;
  content: '';
  width: 74px;
  height: 26px;
  bottom: -10px;
  left: 50%;
  margin-left: -68px;
  background: url('../img/icons_android-3.png') no-repeat 0 0;
}
.icon-ios {
  margin: 0 0 25px 39px !important;
}
.icon-ios .image {
  width: 160px;
  height: 160px;
  background-image: url('../img/icons_ios.png');
}
.icon-ios .image:before {
  position: absolute;
  content: '';
  background: url('../img/icons_apple.png') no-repeat 0 0;
  width: 30px;
  height: 37px;
  top: 50%;
  left: 50%;
  margin: -18px 0 0 -15px;
}
.icon-ios .circles {
  display: block;
  position: relative;
  border-radius: 100%;
  width: 160px;
  height: 160px;
  margin-top: -160px;
  -webkit-box-shadow: 0 0 0 3px #0596cb;
  -moz-box-shadow: 0 0 0 3px #0596cb;
  -o-box-shadow: 0 0 0 3px #0596cb;
  box-shadow: 0 0 0 3px #0596cb;
}
.icon-ios .circles:before {
  background: #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid #0596cb;
  position: absolute;
  content: '';
  left: 25%;
  bottom: -4px;
}
.icon-ios .circles:after {
  background: #ffffff;
  border-radius: 50%;
  border: 3px solid #0596cb;
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  right: 25%;
  top: -8px;
}
.icon-qa {
  position: relative;
  width: 160px;
  height: 160px;
}
.icon-qa .image:before {
  position: absolute;
  content: '';
  width: 160px;
  height: 160px;
  top: 0;
  left: 0;
  background-image: url('../img/icons_qa.png');
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.icon-qa .circles:before {
  position: absolute;
  content: '';
  width: 49px;
  height: 54px;
  top: 60px;
  left: 50%;
  margin: 0 0 0 -24px;
  background: url('../img/bug-03.png') no-repeat 0 0;
}
.icon-qa .circles:after {
  position: absolute;
  content: '';
  width: 32px;
  height: 44px;
  top: 25px;
  left: 50%;
  margin: 0 0 0 -16px;
  background: url('../img/bug-02.png') no-repeat 0 0;
}
.icon-qa .linear:before {
  position: absolute;
  content: '';
  width: 15px;
  height: 52px;
  top: 70px;
  right: 40px;
  background: url('../img/bug-05.png') no-repeat top right;
}
.icon-qa .linear:after {
  position: absolute;
  content: '';
  width: 15px;
  height: 52px;
  top: 70px;
  left: 41px;
  background: url('../img/bug-04.png') no-repeat top left;
}
.course.basic:hover .image:before,
.course.basic:active .image:before,
.course.basic:focus .image:before {
  animation-name: basic_1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
@keyframes basic_1 {
  0% {
    top: 0;
  }
  50% {
    top: -5px;
  }
  100% {
    top: 0;
  }
}
.course.basic:hover .circles:before,
.course.basic:active .circles:before,
.course.basic:focus .circles:before {
  animation-name: basic_2;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
@keyframes basic_2 {
  0% {
    top: 40px;
  }
  50% {
    top: 35px;
  }
  100% {
    top: 40px;
  }
}
.course.basic:hover .linear:before,
.course.basic:active .linear:before,
.course.basic:focus .linear:before {
  animation-name: basic_3;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}
@keyframes basic_3 {
  0% {
    top: 60px;
  }
  50% {
    top: 55px;
  }
  100% {
    top: 60px;
  }
}
.course.js:hover .image:before,
.course.js:active .image:before,
.course.js:focus .image:before {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-360deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
  }
}
@keyframes spinner {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
.course.js:hover .linear:before,
.course.js:active .linear:before,
.course.js:focus .linear:before {
  -webkit-animation: linear_y 1.5s infinite;
  -moz-animation: linear_y 1.5s infinite;
}
@keyframes linear_y {
  0% {
    left: -15px;
  }
  50% {
    left: -30px;
  }
  100% {
    left: -15px;
  }
}
.course.js:hover .linear:after,
.course.js:active .linear:after,
.course.js:focus .linear:after {
  -webkit-animation: linear_b 1.5s infinite;
  -moz-animation: linear_b 1.5s infinite;
}
@keyframes linear_b {
  0% {
    left: -30px;
  }
  50% {
    left: -15px;
  }
  100% {
    left: -30px;
  }
}
.course.ios:hover .image:before,
.course.ios:active .image:before,
.course.ios:focus .image:before {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1.5s;
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(-360deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
  }
}
@keyframes spinner {
  0% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  50% {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
.course.ios:hover .circles:before,
.course.ios:active .circles:before,
.course.ios:focus .circles:before {
  -webkit-animation: circles_cw 1s infinite;
  -moz-animation: circles_cw 1s infinite;
}
@keyframes circles_cw {
  0% {
    width: 14px;
    height: 14px;
    bottom: -4px;
  }
  50% {
    width: 20px;
    height: 20px;
    bottom: -8px;
  }
  100% {
    width: 14px;
    height: 14px;
    bottom: -4px;
  }
}
.course.ios:hover .circles:after,
.course.ios:active .circles:after,
.course.ios:focus .circles:after {
  -webkit-animation: circles_w 1s infinite;
  -moz-animation: circles_w 1s infinite;
}
@keyframes circles_w {
  0% {
    width: 20px;
    height: 20px;
    top: -8px;
  }
  50% {
    width: 14px;
    height: 14px;
    top: -4px;
  }
  100% {
    width: 20px;
    height: 20px;
    top: -8px;
  }
}
.course.android:hover .image:before,
.course.android:active .image:before,
.course.android:focus .image:before {
  -webkit-animation: circles_andr 1.5s infinite;
  -moz-animation: circles_andr 1.5s infinite;
}
@keyframes circles_andr {
  0% {
    height: 26px;
    top: 48px;
  }
  50% {
    height: 18px;
    top: 56px;
  }
  100% {
    height: 26px;
    top: 48px;
  }
}
.course.android:hover .circles:before,
.course.android:active .circles:before,
.course.android:focus .circles:before {
  -webkit-animation: circles_a1 1.5s infinite;
  -moz-animation: circles_a1 1.5s infinite;
}
@keyframes circles_a1 {
  0% {
    top: 40px;
  }
  50% {
    top: 48px;
  }
  100% {
    top: 40px;
  }
}
.course.android:hover .circles:after,
.course.android:active .circles:after,
.course.android:focus .circles:after {
  -webkit-animation: circles_a2 1.5s infinite;
  -moz-animation: circles_a2 1.5s infinite;
}
@keyframes circles_a2 {
  0% {
    top: 75px;
  }
  50% {
    top: 83px;
  }
  100% {
    top: 75px;
  }
}
.course.android:hover .linear:before,
.course.android:active .linear:before,
.course.android:focus .linear:before {
  -webkit-animation: circles_a3 1.5s infinite;
  -moz-animation: circles_a3 1.5s infinite;
}
@keyframes circles_a3 {
  0% {
    bottom: -10px;
  }
  50% {
    bottom: -18px;
  }
  100% {
    bottom: -10px;
  }
}
.course.qa:hover .image:before,
.course.qa:active .image:before,
.course.qa:focus .image:before {
  -webkit-animation: circles_round 1.5s infinite;
  -moz-animation: circles_round 1.5s infinite;
}
@keyframes circles_round {
  0% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.course.qa:hover .circles:after,
.course.qa:active .circles:after,
.course.qa:focus .circles:after {
  -webkit-animation: circles_head 1.5s infinite;
  -moz-animation: circles_head 1.5s infinite;
}
@keyframes circles_head {
  0% {
    top: 25px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 25px;
  }
}
.course.qa:hover .linear:before,
.course.qa:active .linear:before,
.course.qa:focus .linear:before {
  -webkit-animation: linear_right 1.5s infinite;
  -moz-animation: linear_right 1.5s infinite;
}
@keyframes linear_right {
  0% {
    top: 70px;
  }
  50% {
    top: 64px;
  }
  100% {
    top: 70px;
  }
}
.course.qa:hover .linear:after,
.course.qa:active .linear:after,
.course.qa:focus .linear:after {
  -webkit-animation: linear_left 1.5s infinite;
  -moz-animation: linear_left 1.5s infinite;
}
@keyframes linear_left {
  0% {
    top: 64px;
  }
  50% {
    top: 70px;
  }
  100% {
    top: 64px;
  }
}
